head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Desafío Plantillas
  body
    if data.length > 0
      each prod in data
        div
          p=prod.title
          img(src=prod.thumbnail, alt="")
          p=prod.price
    else 
      p="No hay productos"
    button
      a(href="/")="Ir al inicio"