<%- include("../partials/head.ejs") -%> <% if(data) { %>
<section class="myCart">
  <h1>Mi carrito</h1>
  <p>Usuario: <%= data.username %></p>
  <p>Carrito ID: <%= data.UId %></p>
</section>
<ul>
  <p>Productos</p>

  <% data.productos.forEach(x => {%>
  <li>
    <div>
      <form action="" method="post">
        <h3><%= x.title %></h3>
        <p>$ <%= x.price %></p>
        <p>ID <%= x.UId %></p>
        <button type="submit" name="UId" value="<%= x.UId %>">
          Borrar</butt
        >
      </form>
    </div>
  </li>
<%}) %>
<h2>
  <button>
    <a href="../micarrito/productos/<%= data.UId %>/checkout"
      >Continuar con la compra</a
    >
  </button>
</h2>
<% }else {%>
<section class="myCart">
  <h1>No existe ningún carrito.</h1>
  <p><a href="../carrito">Para crear carrito ir a esta sección</a></p>
  <% } %>
</section>
<%- include("../partials/footer.ejs") -%>
