<%- include("../partials/head.ejs") -%> <% if(data) { %>
<section class="myCart container-fluid">
  <h1>Mi carrito</h1>
  <p>Carrito del usuario: <%= data.username %></p>
</section>
<ul class="container-fluid">
  <p>Mis productos guardados</p>

  <% if (data.productos.length > 0) { %> 
  <% data.productos.forEach(x => {%>
  <li class="container bg-success bg-opacity-25 col-2 p-3">
    <div>
      <form action="" method="post">
        <h3><%= x.title %></h3>
        <p>$ <%= x.price %></p>
        <img src="<%= x.thumbnail %>" alt="" height="100px">
        <button type="submit" name="UId" value="<%= x.UId %>">
          Borrar</butt
        >
      </form>
    </div>
  </li>
<%}) %>
<h2>
  <button class="btn btn-light">
    <a href="/api/carrito/<%= data.UId %>/checkout"
      >Continuar con la compra</a
    >
  </button>
</h2>
<% } else {%> 
  <p>No hay productos en este carrito</p>
  <% } %> 
</ul>

<% }else {%>
<section class="myCart">
  <h1>No existe ningún carrito.</h1>
  <p><a href="../carrito">Para crear carrito ir a esta sección</a></p>
  <% } %>
</section>
<%- include("../partials/footer.ejs") -%>
