<%- include("../partials/head.ejs") -%>
<section class="container-fluid d-flex justify-content-center">
    <% if (prod.length > 0) {prod.forEach(x => {%> 
  <div>
    <h3><%= x.title %></h3>
    <h4>$<%= x.price %></h4>
    <img src="<%= x.thumbnail %>" alt="" />
    <p><%= x.category %></p>
    <p><%= x.description %></p>
    <p>Stock disponible: <%= x.stock %></p>
  </div>
</section>
<% }) }%> 

<% if (user.admin){ %> 
<section class="editSection">
    <h3>Modificar producto</h3>
    <form method="post" class="container-fluid">
        <label for="Producto"
          >Producto
          <input
            type="text"
            id="inputTitle"
            name="title"
            placeholder="Example"
            required
          />
        </label>
        <label for="Precio"
          >Precio
          <input    
            type="number"
            id="inputPrice"
            name="price"
            placeholder="$####"
            required
          />
        </label>
        <label for="Miniatura"
          >Imagen
          <input
            type="text"
            id="inputThumbnail"
            name="thumbnail"
            placeholder="https://www.example.com/img"
            required
          />
        <label for="Descripcion"
          >Descripción
          <input
            type="text"
            id="inputDescription"
            name="description"
            placeholder="Descripción ejemplo"
            required
          />
        </label>
        <label for="Categoria"
          >Categoria
          <input
            type="text"
            id="inputCategory"
            name="category"
            placeholder="Lapicera"
            required
          />
        </label>
        <button type="submit">Cargar producto</button>
      </form>
</section>
<% } %> 
<%- include("../partials/footer.ejs") -%>