<%- include("../partials/head.ejs") -%>

<section class="shopSection">
  <h1>Lista de productos</h1>
  <% if (data.length > 0) {data.forEach( x => { %>
  <form action="" method="post">
    <div>
      <div>
        <h3><%= x.title %></h3>
        <img src="<%= x.thumbnail %> " alt="<%= x.title %> " />
        <p><%= x.price %></p>
        <p><%= x.UId %></p>
      </div>
      <button type="submit" name="UId" value="<%= x.UId %> ">
        Agregar al carrito
      </button>
    </div>
  </form>
  <%}) } else {%>
  <tr class="prod">
    <td><p>No hay productos</p></td>
  </tr>
  <% } %>
</section>
<%- include("../partials/footer.ejs") -%>
